
@model IEnumerable<Tasks>

<h2 class="mb-2 mt-2 flex-fill">Tasks</h2>

<div class="d-flex flex-row align-items-center justify-content-between">

    <a class="btn btn-outline-light text-bg-light m-2" href="/Tasks/InsertTasks/">Add New Task</a>

    @using (Html.BeginForm("Index", "Tasks", FormMethod.Get))
    {
        <div class="btn-group">

            @Html.DropDownList("categoryFilter", new SelectList(new[] 
            {
                new SelectListItem { Text = "All Categories", Value = "" },
                new SelectListItem { Text = "Work", Value = "1" },
                new SelectListItem { Text = "Personal", Value = "2" },
                new SelectListItem { Text = "Home", Value = "3" },
                new SelectListItem { Text = "Shopping", Value = "4" }
            }, "Value", "Text"), "Select Category", new { @class = "btn btn-outline-light text-bg-light m-2" })

            @Html.DropDownList("statusFilter", new SelectList(new[] 
            {
                new SelectListItem { Text = "All Statuses", Value = "" },
                new SelectListItem { Text = "Open", Value = "1" },
                new SelectListItem { Text = "Completed", Value = "2" },
                new SelectListItem { Text = "Over Due", Value = "3" }
            }, "Value", "Text"), "Select Status", new { @class = "btn btn-outline-light text-bg-light m-2" })

            <button type="submit" class="btn btn-outline-light text-bg-light m-2">Apply Filter</button>
            <a href="/Tasks/Index" class="btn btn-outline-light text-bg-light m-2">Reset Filter</a>

        </div>        
    }
</div>

<div class="container m-3" style="width: 90vw">
    <div class="row flex-wrap">

        @foreach (var task in Model)
        {
            <div class="card col-xl-3 m-2" style="width: 40rem;">
                <div class="card-body">
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <h5 class="card-title mb-2">@task.Title</h5>
                        @switch (task.CategoryId)
                        {
                            case 1:
                                <h6 class="card-subtitle mb-2">Work</h6>
                                break;
                            case 2:
                                <h6 class="card-subtitle mb-2">Personal</h6>
                                break;
                            case 3:
                                <h6 class="card-subtitle mb-2">Home</h6>
                                break;
                            case 4:
                                <h6 class="card-subtitle mb-2">Shopping</h6>
                                break;
                            default:
                                <h6 class="card-subtitle mb-2"></h6>
                                break;
                        }
                    </div>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Due-Date: @task.DueDate.ToString("MM-dd-yyyy h:mm tt")</h6>
                    <p class="card-text m-2">@task.Description</p>
                    @* <h6 class="card-subtitle mb-2">@task.Statuses.ElementAt(task.StatusId).Name</h6> *@
                    @switch (task.StatusId)
                    {
                        case 1:
                            <h6 class="card-subtitle mb-2 mt-4">Status: Open</h6>
                            break;
                        case 2:
                            <h6 class="card-subtitle mb-2 mt-4">Status: Completed</h6>
                            break;
                        case 3:
                            <h6 class="card-subtitle mb-2 mt-4">Status: Over Due</h6>
                            break;
                        default:
                            <h6 class="card-subtitle mb-2 mt-4">Status: None</h6>
                            break;
                    }
                    <div class="d-flex flex-row align-items-center">
                        <a class="btn btn-dark text-bg-dark me-2 card-button" href="/Tasks/ViewTasks/@task.TaskID">View </a>
                        <a class="btn btn-dark text-bg-dark ms-2 me-2 card-button" href="/Tasks/UpdateTasks/@task.TaskID">Edit</a>
                        @if (task.StatusId != 2)
                        {
                            <a class="btn btn-success text-bg-dark ms-2 me-2 card-button" href="/Tasks/CompleteTasks/@task.TaskID">Complete</a>              
                        }
                    </div>
                </div>
            </div>
        }
    </div>
 
</div>